@model List<Order>

@{
    ViewBag.Title = "Orders";
    ViewBag.StylesPath = "~/css/orders.css";
}


<div class="container-for-header-panel">
    <header class="header">
        <ul class="header-items">
            <li class="header-items-item header-items-item-logo">
                <a asp-controller="Home" asp-action="Index"><img class="header-items-item-logo-image" src="/Images/Logo.jpg" alt="Logo of page"></a>
                <a class="header-link-title" asp-controller="MyAccount" asp-action="Index"><h1 class="header-items-item-logo-title">My account</h1></a>
            </li>
            <li class="header-items-links">
                <ul class="header-items-links-list">
                    <li class="header-items-links-list-item header-items-links-list-register">
                        <a class="header-items-links-list-item-profile-link" asp-controller="Account" asp-action="Logout">
                            <ul class="header-items-links-list-item-profile">
                                <li class="header-items-links-list-item-profile-image"><img class="header-items-links-list-item-profile-image-element" src="~/Images/Icons/Logout_icon.svg" alt="Profile picture of user"></li>
                                <li class="header-items-links-list-item-profile-inscription">
                                    <ul class="header-items-links-list-item-profile-inscription-items">
                                        <li class="header-items-links-list-item-profile-inscription-items-logged-as">Logout</li>
                                        <li class="header-items-links-list-item-profile-inscription-items-username">from account</li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
</div>


<section class="manage-books">
    <ul class="manage-books-items">
        <li class="manage-books-items_books">
            <ul class="manage-books-items_books-items">
                <li class="manage-books-items_books-items_book"><h1 class="manage-books-items_books-items_book-title">Your ordered books</h1></li>
                @foreach(Order order in Model)
                {
                    <li class="manage-books-items_books-items_book">
                        <ul class="manage-books-items_books-items_book-items">
                            <li class="manage-books-items_books-items_book-items_image"><img class="manage-books-items_books-items_book-items_image-element" src="@Url.Content(order.Book.ImagePath)" alt="Image of the book"></li>
                            <li class="manage-books-items_books-items_book-items_title"><span class="manage-books-items_books-items_book-items_title-element">@order.Book.Title</span></li>
                            <li class="manage-books-items_books-items_book-items_author">@order.Book.Author.Firstname @order.Book.Author.Lastname</li>
                            <li class="manage-books-items_books-items_book-items_date-of-order"><span class="manage-books-items_books-items_book-items_date-of-order-element">@($"{order.DateOfOrder.Day}.{order.DateOfOrder.Month}.{order.DateOfOrder.Year}")</span></li>
                        </ul>
                        @if (order != Model.LastOrDefault())
                        {
                            <div class="manage-books-items_books-items_book-div-for-space-between-books"></div>
                        }
                    </li>
                }
            </ul>
        </li>
    </ul>
</section>


<footer class="footer">
    <ul class="footer-items">
        <li class="footer-items-address">
            <ul class="footer-items-address-items">
                <li class="footer-items-address-items-logo"><a asp-controller="Home" asp-action="Index"><img class="footer-items-address-items-logo-element" src="~/Images/Logo_gray.jpg" alt="Logo of webpage"></a></li>
                <li class="footer-items-address-items-description">
                    <ul class="footer-items-address-items-description-items">
                        <li class="footer-items-address-items-description-items-1">1000 Forth Ave.</li>
                        <li class="footer-items-address-items-description-items-2">CityName, WA 34104-1105</li>
                        <li class="footer-items-address-items-description-items-3">206-386-4636 or <a class="footer-link" asp-controller="Home" asp-action="AskUs">Ask us</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="footer-items-social-medias">
            <ul class="footer-items-social-medias-items">
                <li class="footer-items-social-medias-items-about-us"><a class="footer-link" asp-controller="Home" asp-action="AboutUs">About us</a></li>
                <li class="footer-items-social-medias-items-icons">
                    <ul class="footer-items-social-medias-items-icons-items">
                        <li class="footer-items-social-medias-items-icons-items-description">Find us on:</li>
                        <li class="footer-items-social-medias-items-icons-items-links">
                            <ul class="footer-items-social-medias-items-icons-items-links-items">
                                <li class="footer-items-social-medias-items-icons-items-links-items-facebook"><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-facebook-element" src="~/Images/Icons/icons8-facebook-50.png" alt="Icon of facebook"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-linkedin"><a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-linkedin-element" src="~/Images/Icons/icons8-linkedin-50.png" alt="Icon of linkedin"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-youtube"><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-youtube-element" src="~/Images/Icons/icons8-youtube-50.png" alt="Icon of youtube"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-instagram"><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-instagram-element" src="~/Images/Icons/icons8-instagram-50.png" alt="Icon of instagram"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-x"><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-x-element" src="~/Images/Icons/icons8-twitterx-50.png" alt="Icon of twitterx"></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</footer>