@model Post

@{
    ViewBag.Title = Model.Title;
    ViewBag.StylesPath = "~/css/post.css";
    ViewBag.ScriptPath = "~/js/toggle-like.js";
    ViewBag.SecondScriptPath = "~/js/toggle-post-save.js";

    TimeSpan timeSincePostPublished = DateTime.Now - Model.DateOfPublication;
}


<div class="container-for-header-panel">
    <header class="header">
        <ul class="header-items">
            <li class="header-items-item header-items-item-logo">
                <a asp-controller="Forum" asp-action="Index"><img class="header-items-item-logo-image" src="/Images/Logo.jpg" alt="Logo of page"></a>
                <a class="header-link-title" asp-controller="Forum" asp-action="Index"><h1 class="header-items-item-logo-title">Forum</h1></a>
            </li>
            <li class="header-items-links">
                <ul class="header-items-links-list">
                    <li class="header-items-links-list-item header-items-links-list-register">
                        <a class="header-items-links-list-item-profile-link" asp-controller="MyAccount" asp-action="Index">
                            <ul class="header-items-links-list-item-profile">
                                <li class="header-items-links-list-item-profile-image"><img class="header-items-links-list-item-profile-image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Profile picture of user"></li>
                                <li class="header-items-links-list-item-profile-inscription">
                                    <ul class="header-items-links-list-item-profile-inscription-items">
                                        <li class="header-items-links-list-item-profile-inscription-items-logged-as">Logged as</li>
                                        <li class="header-items-links-list-item-profile-inscription-items-username">@User.Identity.Name</li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
</div>

<div class="post-container">
    <section class="post">
        <ul class="post-items">
            <li class="post-items-header">
                <ul class="post-items-header-items">
                    <li class="post-items-header-items-user-information">
                        <a class="post-link" asp-controller="UserProfile" asp-action="Posts" asp-route-userId="@Model.User.Id"><img class="post-items-header-items-user-information-profile-photo" src="~/Images/Icons/User_Profile_Photo.svg" alt="User profile photo"></a>
                        <a class="post-link" asp-controller="UserProfile" asp-action="Posts" asp-route-userId="@Model.User.Id"><span class="post-items-header-items-user-information-username">@Model.User.UserName</span></a>
                    </li>
                    <li class="post-items-header-items-time">
                        @if (timeSincePostPublished.TotalMinutes < 1)
                        {
                            <span class="post-items-header-items-time-element">Just now</span>
                        }
                        else if (timeSincePostPublished.TotalHours < 1)
                        {
                            if (@timeSincePostPublished.Minutes == 1) 
                            {
                                <span class="post-items-header-items-time-element">@timeSincePostPublished.Minutes minute ago</span>
                            }
                            else
                            {
                                <span class="post-items-header-items-time-element">@timeSincePostPublished.Minutes minutes ago</span>
                            }
                        }
                        else if (timeSincePostPublished.TotalDays < 1)
                        {
                            if (@timeSincePostPublished.Hours == 1)
                            {
                                <span class="post-items-header-items-time-element">@timeSincePostPublished.Hours hour ago</span>
                            }
                            else
                            {
                                <span class="post-items-header-items-time-element">@timeSincePostPublished.Hours hours ago</span>
                            }
                        }
                        else
                        {
                            if (@timeSincePostPublished.Days == 1)
                            {
                                <span class="post-items-header-items-time-element">@timeSincePostPublished.Days day ago</span>
                            }
                            else
                            {
                                <span class="post-items-header-items-time-element">@timeSincePostPublished.Days days ago</span>
                            }
                        }
                    </li>
                </ul>
            </li>
            <li class="post-items-title"><h1 class="post-items-title-element">@Model.Title</h1></li>
            <li class="post-items-topics">
                @foreach (PostTopic postTopic in Model.Topics)
                {
                    <a href="" class="post-items-topics-topic footer-link">#@postTopic.Topic.Name</a>
                    <span> </span>
                }
            </li>
            <li class="post-items-paragraph"><p class="post-items-paragraph-element">@Model.Content</p></li>
            <li class="post-items-create-comment">
                <ul class="post-items-create-comment-items">
                    <li class="post-items-create-comment-items-creation">
                        <ul class="post-items-create-comment-items-creation-items">
                            <li class="post-items-create-comment-items-creation-items-input"><input class="post-items-create-comment-items-creation-items-input-element" placeholder="Leave your comment..." type="text"></li>
                            <li class="post-items-create-comment-items-creation-items-button"><button class="post-items-create-comment-items-creation-items-button-element"><img class="post-items-create-comment-items-creation-items-button-element-image" src="~/Images/Icons/Create_comment.svg" alt="Icon of create comment"></button></li>
                        </ul>
                    </li>
                    <li class="post-items-create-comment-items-interaction">
                        <ul class="post-items-create-comment-items-interaction-items">
                            <li class="post-items-create-comment-items-interaction-items-like">@await Html.PartialAsync("_Like", Model, ViewData)</li>
                            <li class="post-items-create-comment-items-interaction-items-save">@await Html.PartialAsync("_Save", Model, ViewData)</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="post-items-comments"><h2 class="post-items-comments-title">Comments</h2></li>
            <li class="post-items-comment">
                <ul class="post-items-comment-items">
                    <li class="post-items-comment-items-header">
                        <ul class="post-items-comment-items-header-items">
                            <li class="post-items-comment-items-header-items-user">
                                <a class="post-link" asp-controller="UserProfile" asp-action="Posts"><img class="post-items-comment-items-header-items-user-picture" src="~/Images/Icons/User_Profile_Photo.svg" alt="User profile photo"></a>
                                <a class="post-link" asp-controller="UserProfile" asp-action="Posts"><span class="post-items-comment-items-header-items-user-username">SomeUser1236123</span></a>
                            </li>
                            <li class="post-items-comment-items-header-items-time-of-publication"><span class="post-items-comment-items-header-items-time-of-publication-element">1 day ago</span></li>
                        </ul>
                    </li>
                    <li class="post-items-comment-items-content">
                        <p class="post-items-comment-items-content-element">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="post-items-comment-items-content-div-for-space-between-commentaries"></div>
                    </li>
                </ul>
            </li>
            <li class="post-items-comment">
                <ul class="post-items-comment-items">
                    <li class="post-items-comment-items-header">
                        <ul class="post-items-comment-items-header-items">
                            <li class="post-items-comment-items-header-items-user">
                                <a class="post-link" asp-controller="UserProfile" asp-action="Posts"><img class="post-items-comment-items-header-items-user-picture" src="~/Images/Icons/User_Profile_Photo.svg" alt="User profile photo"></a>
                                <a class="post-link" asp-controller="UserProfile" asp-action="Posts"><span class="post-items-comment-items-header-items-user-username">SomeUser1236123</span></a>
                            </li>
                            <li class="post-items-comment-items-header-items-time-of-publication"><span class="post-items-comment-items-header-items-time-of-publication-element">1 day ago</span></li>
                        </ul>
                    </li>
                    <li class="post-items-comment-items-content">
                        <p class="post-items-comment-items-content-element">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="post-items-comment-items-content-div-for-space-between-commentaries"></div>
                    </li>
                </ul>
            </li>
            <li class="post-items-comment">
                <ul class="post-items-comment-items">
                    <li class="post-items-comment-items-header">
                        <ul class="post-items-comment-items-header-items">
                            <li class="post-items-comment-items-header-items-user">
                                <a class="post-link" asp-controller="UserProfile" asp-action="Posts"><img class="post-items-comment-items-header-items-user-picture" src="~/Images/Icons/User_Profile_Photo.svg" alt="User profile photo"></a>
                                <a class="post-link" asp-controller="UserProfile" asp-action="Posts"><span class="post-items-comment-items-header-items-user-username">SomeUser1236123</span></a>
                            </li>
                            <li class="post-items-comment-items-header-items-time-of-publication"><span class="post-items-comment-items-header-items-time-of-publication-element">1 day ago</span></li>
                        </ul>
                    </li>
                    <li class="post-items-comment-items-content">
                        <p class="post-items-comment-items-content-element">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</div>

<footer class="footer">
    <ul class="footer-items">
        <li class="footer-items-address">
            <ul class="footer-items-address-items">
                <li class="footer-items-address-items-logo"><a asp-controller="Home" asp-action="Index"><img class="footer-items-address-items-logo-element" src="~/Images/Logo_gray.jpg" alt="Logo of webpage"></a></li>
                <li class="footer-items-address-items-description">
                    <ul class="footer-items-address-items-description-items">
                        <li class="footer-items-address-items-description-items-1">1000 Forth Ave.</li>
                        <li class="footer-items-address-items-description-items-2">CityName, WA 34104-1105</li>
                        <li class="footer-items-address-items-description-items-3">206-386-4636 or <a class="footer-link" asp-controller="Home" asp-action="AskUs">Ask us</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="footer-items-social-medias">
            <ul class="footer-items-social-medias-items">
                <li class="footer-items-social-medias-items-about-us"><a class="footer-link" asp-controller="Home" asp-action="AboutUs">About us</a></li>
                <li class="footer-items-social-medias-items-icons">
                    <ul class="footer-items-social-medias-items-icons-items">
                        <li class="footer-items-social-medias-items-icons-items-description">Find us on:</li>
                        <li class="footer-items-social-medias-items-icons-items-links">
                            <ul class="footer-items-social-medias-items-icons-items-links-items">
                                <li class="footer-items-social-medias-items-icons-items-links-items-facebook"><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-facebook-element" src="~/Images/Icons/icons8-facebook-50.png" alt="Icon of facebook"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-linkedin"><a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-linkedin-element" src="~/Images/Icons/icons8-linkedin-50.png" alt="Icon of linkedin"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-youtube"><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-youtube-element" src="~/Images/Icons/icons8-youtube-50.png" alt="Icon of youtube"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-instagram"><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-instagram-element" src="~/Images/Icons/icons8-instagram-50.png" alt="Icon of instagram"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-x"><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-x-element" src="~/Images/Icons/icons8-twitterx-50.png" alt="Icon of twitterx"></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</footer>
